.blogs {
  height: 28rem;
  position: relative;
  background-image: url("../../images/backgrounds/gray_background.jpg");
  background-size: cover;

  .blogs-heading {
    h1 {
      color: black;
      margin-top: 25px;
      font-family: "Quickpen";
      font-weight: bolder;
    }
    h5 {
      color: black;
    }
  }

  .breadcrumbs {
    margin-top: 90px;
  }

  .blogs-card {
    margin-top: 6rem;
    div {
      div {
        margin-top: 2rem;
      }
    }
  }
}
