.gradient {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 0.3)),
    color-stop(25%, rgba(0, 0, 0, 0.25)),
    color-stop(50%, rgba(0, 0, 0, 0.15)),
    color-stop(75%, rgba(0, 0, 0, 0.05)),
    to(rgba(0, 0, 0, 0))
  );
  background: -o-linear-gradient(
    top,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0.25) 25%,
    rgba(0, 0, 0, 0.15) 50%,
    rgba(0, 0, 0, 0.05) 75%,
    rgba(0, 0, 0, 0) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0.25) 25%,
    rgba(0, 0, 0, 0.15) 50%,
    rgba(0, 0, 0, 0.05) 75%,
    rgba(0, 0, 0, 0) 100%
  );
}

.nav-bar {
  border-bottom: none;
  position: absolute;
  height: 315px;
  z-index: 100;
  top: 0;

  .menus {
    box-shadow: 0px 6px 17px -7px #000;
    background-color: white;
    position: absolute;
    height: 24rem;
    display: none;
    width: 100%;
    left: 0%;

    .be-inspried {
      top: 220px !important;
    }

    .product-names,
    .where-to-buy,
    .brand-names,
    .be-inspried,
    .company {
      justify-content: center;
      position: relative;
      display: none;
      top: 240px;

      .providers {
        display: grid;
        a {
          margin: 10px;
        }

        a:hover {
          transform: scale(1.1);
          transition: 0.3s;
        }
      }

      li {
        a {
          font-family: "Noah Grotesque";
          font-weight: 600;
          color: #808080d1 !important;
        }
        font-family: "Noah Grotesque";
        width: max-content;
        position: relative;
        margin: 0px 68px;
        cursor: pointer;
        top: 32%;

        .first-row {
          right: 62px;
        }
        .second-row {
          right: -55px;
        }

        ul {
          color: #808080d1;
          text-align: center;

          margin: 8px -108px;
          position: absolute;

          width: min-content;
          display: table;
          li {
            margin-bottom: -15px !important;
            font-size: 16px !important;
          }

          li:after,
          li:before {
            position: absolute;
            z-index: -1;
          }

          li:after {
            content: "";
            width: 3px;
            height: 2px;
            bottom: 10px;
            left: 0;
          }

          li:focus:after,
          li:hover:after {
            width: 50%;
            height: 2px;
          }

          li:before {
            content: "";
            width: 3px;
            height: 2px;
            bottom: 10px;
            right: 0;
          }

          li:focus:before,
          li:hover:before {
            width: 50%;
            height: 2px;
          }

          li {
            font-weight: 400;
            font-size: 14px !important;
            text-decoration: none;
            font-family: "Noah Grotesque", sans-serif;
            white-space: nowrap;
            line-height: 38px;
            overflow: hidden;
            z-index: 2;
          }

          li:focus:after,
          li:focus:before,
          li:hover:after,
          li:hover:before {
            -webkit-transition: all 1s ease 0s;
            -moz-transition: all 1s ease 0s;
            -ms-transition: all 1s ease 0s;
            -o-transition: all 1s ease 0s;
            transition: all 0.7s ease 0s;
            background-color: gray;
            outline: 0;
          }
        }
      }
    }

    .show-prods {
      display: flex;
    }

    .show-company {
      display: flex;
    }

    .show-where-to-buy {
      display: flex;
    }
    .show-be-inspried {
      display: flex;
    }
    // .brand-names {
    //   justify-content: center;
    //   position: relative;
    //   display: none;
    //   top: 110px;

    //   li {
    //     a {
    //       font-weight: 500;
    //       color: #808080d1 !important;
    //     }
    //     position: relative;
    //     margin: 0px 60px;
    //     top: 32%;

    //     ul {
    //       color: #808080d1 !important;
    //       position: absolute;
    //       margin: 12px -60px;
    //       width: min-content;
    //       display: table;

    //       li {
    //         cursor: pointer;
    //         width: fit-content;
    //         margin-bottom: -15px !important;
    //         font-size: 16px !important;
    //       }

    //       li:after,
    //       li:before {
    //         position: absolute;
    //         z-index: -1;
    //       }

    //       li:after {
    //         content: "";
    //         width: 3px;
    //         height: 3px;
    //         bottom: 8px;
    //         left: 0;
    //       }

    //       li:focus:after,
    //       li:hover:after {
    //         width: 50%;
    //         height: 3px;
    //       }

    //       li:before {
    //         content: "";
    //         width: 3px;
    //         height: 3px;
    //         bottom: 8px;
    //         right: 0;
    //       }

    //       li:focus:before,
    //       li:hover:before {
    //         width: 50%;
    //         height: 3px;
    //       }

    //       li {
    //         font-weight: 400;
    //         font-size: 14px !important;
    //         text-decoration: none;
    //         font-family: "Noah Grotesque", sans-serif;
    //         white-space: nowrap;
    //         line-height: 38px;
    //         overflow: hidden;
    //         z-index: 2;
    //       }

    //       li:focus:after,
    //       li:focus:before,
    //       li:hover:after,
    //       li:hover:before {
    //         outline: 0;
    //         background-color: gray;
    //         -webkit-transition: all 1s ease 0s;
    //         -moz-transition: all 1s ease 0s;
    //         -ms-transition: all 1s ease 0s;
    //         -o-transition: all 1s ease 0s;
    //         transition: all 0.7s ease 0s;
    //       }
    //     }
    //   }
    // }

    .show-brand {
      display: flex !important;
    }
  }

  .show {
    display: block;
    color: gray !important;
  }
  .logo-section {
    img {
      cursor: pointer;
      width: 208px;
      position: relative;
      top: -25px;

      z-index: 1;
      height: 175px;
    }

    top: 20px;
    position: relative;
  }

  .nav-items {
    height: 0px;
    position: relative;
    top: 5px;
    display: flex;
    justify-content: center;
    .main {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      list-style: none;
      .sub {
        cursor: pointer;
        color: white;
        width: max-content;
        padding: 0px 28px;
        font-family: "Noah Grotesque Regular";
        font-size: 16px;
      }
    }
  }

  .admin-controls {
    position: absolute;
    top: 65px;
    right: 50px;
    float: right;
    .user-icon {
      padding-bottom: 15px;
      padding-left: 15px;
      .drop-down {
        line-height: 22px;
        display: none;
        background: #f2f2f2d1;
        padding: 12px;
        position: absolute;
        width: -moz-fit-content;
        width: 110px;
        border-radius: 5px;
        font-size: 13px;
        left: -10px;
        top: 35px;
        li {
          margin-bottom: 3px;
          font-weight: 300;
          text-align: center;
          position: relative;
          cursor: pointer;
        }

        li:hover {
          font-weight: 400;
        }

        li:nth-child(1) {
          font-weight: 400;
          width: 45px;
          border-bottom: 2px solid gray !important;
          margin-bottom: 8px;
          font-size: 14px;
        }
      }
    }

    .user-icon:hover {
      .drop-down {
        display: block;
      }
      .drop-down:hover {
        .drop-down {
          display: block;
        }
      }
    }

    .icons {
      display: flex;
      li {
        cursor: pointer;
        margin: 0px 8px;
      }
    }
    float: right;
  }

  .hamburger {
    display: none;
    position: absolute;
    float: right;
    top: 34px;
    right: 20px;
    svg {
      fill: white;
      font-size: 32px;
      border-radius: 5px;
    }
  }
}

@media (max-width: 1155px) {
  .hamburger {
    display: block !important;
  }
  .menus {
    display: none !important;
  }

  .nav-items {
    display: none !important;
  }
}
