.footer {
  background: #f2f2f2;
  background-image: url("../../images/logo_updated/eff_logos2.png");
  background-repeat: no-repeat;

  position: relative;
  margin-top: 10% !important;
  box-shadow: 0 4px 13px grey;
  hr {
    left: 0px;
    width: 100%;
    position: absolute;
    height: 2px;
  }
  img {
    top: 12px;
    width: 195px;
    height: 170px;
    left: 88px;

    position: relative;
  }

  .row {
    .col {
      max-width: fit-content;
      ul {
        margin: 18px 25px;
        label {
          font-weight: 490;
          font-size: 17px;
          color: #6bc9ca;
        }
        li {
          cursor: pointer;
          line-height: 28px;
          color: gray;
        }
      }
    }
  }

  .social-media {
    margin-left: 80px;
    span {
      margin: 10px;

      svg {
        color: #808080a6;
        font-size: 24px;
        cursor: pointer;
      }
      svg:hover {
        color: gray;
        transition: 0.3s ease color;
      }
    }
  }
}
