@font-face {
  font-family: "Noah Grotesque";
  src: url("./fonts/Noah\ Grotesque\ Light.woff"); /* IE9 Compat Modes */
}

@font-face {
  font-family: "Noah Grotesque Regular";
  src: url("./fonts/Noah\ Grotesque\ Regular.woff"); /* IE9 Compat Modes */
}

@font-face {
  font-family: "Noah Grotesque Extra Bold";
  src: url("./fonts/Noah\ Grotesque\ ExtraBold.woff"); /* IE9 Compat Modes */
}

@font-face {
  font-family: "Noah Grotesque Bold";
  src: url("./fonts/Noah\ Grotesque\ Bold.woff"); /* IE9 Compat Modes */
}

.blur {
  background: #7b7a7ac4;
  transition: all 0.4s;
  position: relative;
  img {
    opacity: 0.5;
  }
}
.loader {
  text-align: -webkit-center;
  margin-top: 20rem;
  h1 {
    position: relative;
    left: 30px;
    font-size: 30px;
    font-family: Quickpen;
    color: #6bc9cade;
    text-align: center;
  }
}

li {
  list-style: none;
}

p {
  color: #828282;
  font-family: "Noah Grotesque Regular";
  font-size: 18px;
  font-weight: lighter;
}

a {
  color: rgb(130, 130, 130);
}
a:hover {
  color: rgb(130, 130, 130);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #828282;
  font-family: "Noah Grotesque Bold";
}

.react-slider {
  margin-bottom: 15% !important;
  margin-top: 30px;
}
.react-slider__ul {
  display: none !important;
  z-index: 1 !important;
  width: 195%;
  position: absolute;
  margin-top: 70px !important;
}

.react-slider__picture {
  height: 480px;
}

.react-slider__imgZoom {
  width: 100% !important;
  height: 480px;
}
