@font-face {
  font-family: "Noah Grotesque"; /*a name to be used later*/
  src: url("./fonts/Noah\ Grotesque\ Light.otf"); /*URL to font*/
}

@font-face {
  font-family: "Noah Grotesque Regular"; /*a name to be used later*/
  src: url("./fonts//Noah\ Grotesque\ Regular.otf"); /*URL to font*/
}

@font-face {
  font-family: "Noah Grotesque Extra Bold"; /*a name to be used later*/
  src: url("./fonts/Noah\ Grotesque\ ExtraBold.otf"); /*URL to font*/
}

@font-face {
  font-family: "Noah Grotesque Bold"; /*a name to be used later*/
  src: url("./fonts/Noah\ Grotesque\ Bold.otf"); /*URL to font*/
}

.blur {
  background: #7b7a7ac4;
  transition: all 0.4s;
  position: relative;
  img {
    opacity: 0.5;
  }
}

li {
  list-style: none;
}

p {
  color: #828282;
  font-family: "Noah Grotesque Regular";
  font-size: 18px;
  font-weight: lighter;
}

a {
  color: rgb(130, 130, 130);
}
a:hover {
  color: rgb(130, 130, 130);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #828282;
  font-family: "Noah Grotesque Bold";
}

.react-slider {
  margin-bottom: 15% !important;
  margin-top: 30px;
}
.react-slider__ul {
  display: none !important;
  z-index: 1 !important;
  width: 195%;
  position: absolute;
  margin-top: 70px !important;
}

.react-slider__picture {
  height: 480px;
}

.react-slider__imgZoom {
  width: 100% !important;
  height: 480px;
}
