@import url("http://fonts.cdnfonts.com/css/noah-grotesque");

li {
  list-style: none;
}

p {
  color: #828282;
  font-family: "Noah Grotesque", sans-serif;
  font-size: 18px;
  font-weight: lighter;
}

a {
  color: rgb(130, 130, 130);
}
a:hover {
  color: rgb(130, 130, 130);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #828282;
  font-family: "Noah Grotesque", sans-serif;
}

.react-slider {
  margin-bottom: 80% !important;
  margin-top: 30px;
}
.react-slider__ul {
  z-index: 1 !important;
  width: 195%;
  position: absolute;
  margin-top: 70px !important;
}

.react-slider__picture {
  height: 480px;
}

.react-slider__imgZoom {
  width: 100% !important;
  height: 480px;
}
