@media (min-width: 1200px) {
  .editContainer {
    max-width: 1600px !important;
  }

  .hello {
    display: none !important;
  }

  .container {
    max-width: 1380px;
  }

  .swatches {
    .footer {
      margin-top: 30% !important;
    }
  }
}

@media (min-width: 991px) and (max-width: 1199px) {
  .swatches {
    .footer {
      margin-top: 50% !important;
    }
  }

  .hello {
    display: none !important;
  }
}

@media (min-width: 767px) and (max-width: 992px) {
  .swatch-review .row div ul {
    margin-top: 80px !important;
  }

  .swatches {
    .footer {
      margin-top: 110% !important;
    }
  }

  .bg-1 {
    display: none !important;
  }
}
@media (min-width: 575px) and (max-width: 768px) {
  .bg-1 {
    display: none !important;
  }

  .react-slider__ul {
    width: 200% !important;
    position: relative !important;
    li {
      margin: 1px;
    }
  }

  .react-slider__picture {
    height: 275px !important;
  }

  .swatch-review {
    margin-bottom: -260px;
    .row {
      .prod-description {
        h5 {
          top: 8% !important;
        }

        span {
          p {
            font-size: 12px !important;
            margin: 6px 0px !important;
            width: 50% !important;
          }
        }
      }
    }
  }
  .react-slider__imgZoom {
    height: 300px !important;
  }

  .prod-description {
    line-height: 18px !important;
  }
}

@media (max-width: 576px) {
  .swatch-review .row div ul {
    margin-top: 165% !important;
    justify-content: center !important;
    width: 95% !important;
  }
  .swatches .footer {
    margin-top: 260% !important;
  }
  p,
  h5,
  h6,
  h1 {
    text-align: center;
  }
  .row {
    p {
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  .about-eff {
    .section-1 {
      .para-with-image {
        img {
          padding: 9px 0px 6px 0px !important;
          border: 2px solid gainsboro !important;
          height: 106px !important;
          top: 86px !important;
          width: 28% !important;
          position: relative !important;
        }
      }
    }
  }

  .react-slider__imgZoom {
    display: none !important;
  }

  .react-slider__ul {
    width: 100% !important;
    position: relative !important;
    li {
      margin: 20px !important;
      img {
        width: 140%;
      }
    }
  }

  .carousel-inner {
    height: 639px !important;
    .carousel-item {
      div {
        height: 639px !important;
      }
    }
  }
  .information-panel {
    .logo-black {
      width: 72%;
      top: 60px;
    }
    .info-panel-images .card-1 .view p {
      font-family: sans-serif !important;
      font-size: 12px !important;
      line-height: 20px !important;
      padding: 5px 0px 5px !important;
    }
  }

  .footer {
    img {
      top: 20px;
      width: 190px;
      height: 170px;
      left: 65px;
    }
    .row {
      margin-left: 20px !important;

      .col {
        ul {
          margin: 18px 0px;
        }
      }
    }
  }

  .home {
    p {
      margin-left: 6%;
      margin-top: 40px;
      margin-right: 4%;
      line-height: 25px;
      margin-bottom: 28px;
    }

    .newsletter-subscription {
      position: relative;
      padding: 0px 0px 17px;
      top: 151px;
      background: gainsboro;
      border-radius: unset;
    }
    .information-panel {
      .info-panel-images {
        .card-1 {
          .view a.info {
            font-size: 11px;
            padding: 6px 12px;
          }

          .view-first {
            p {
              font-size: 10px;
              top: -35px;
            }
            .mask a {
              position: relative;
              top: -55px;
            }
          }
        }
      }
    }
  }

  .bg-1 {
    display: none !important;
  }
}
